<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layouts/base :: layout(~{::title}, ~{::section}, ~{})}">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title th:text="#{html.register.title}"></title>
</head>
<body>
<section class="main">
    <div>
        <h1 th:text="#{html.register.header}"></h1>
    </div>
    <div th:if="${registered}">
        <span th:text="#{html.register.registered}"></span> <a th:href="@{/}" th:text="#{html.register.backhomepage}"></a>
    </div>
    <div th:if="!${registered}">
        <form th:action="@{/register}" method="post">
            <div>
                <input class="un" type="text" name="username" th:field="${credentialsForm.userName}" th:placeholder="#{html.forms.username}" required>
                <div th:if="${#fields.hasErrors('credentialsForm.userName')}" th:errors="${credentialsForm.userName}"></div>
            </div>
            <div>
                <input class="un" type="text" name="firstName" th:field="${userForm.firstName}" th:placeholder="#{html.forms.firstName}">
                <div th:if="${#fields.hasErrors('userForm.firstName')}" th:errors="${userForm.firstName}"></div>
            </div>
            <div>
                <input class="un" type="text" name="lastName" th:field="${userForm.lastName}" th:placeholder="#{html.forms.lastName}">
                <div th:if="${#fields.hasErrors('userForm.lastName')}" th:errors="${userForm.lastName}"></div>
            </div>
            <div>
                <input class="un" type="password" id="password" name="password" th:field="${credentialsForm.password}" th:placeholder="#{html.forms.password}" required>
                <div th:if="${#fields.hasErrors('credentialsForm.password')}" th:errors="${credentialsForm.password}"></div>
            </div>
            <div>
                <input class="un" type="password" id="confirmPassword" th:field="${credentialsForm.confirmPassword}" th:placeholder="#{html.forms.confirmPassword}" required>
                <div th:if="${#fields.hasErrors('credentialsForm.confirmPassword')}" th:errors="${credentialsForm.password}"></div>
            </div>

            <button class="submit" type="submit" th:text="#{html.register.submit}"></button>
        </form>
        <div class="tt">
            <a class="ur" th:href="@{/login}" th:text="#{html.register.alreadymember}"></a>
            <br><br>
            <a class="ur" th:href="@{/}" th:text="#{html.register.backhomepage}"></a>
        </div>
    </div>
</section>
<th:block th:fragment="scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#password, #confirmPassword').on('keyup', function () {
            if ($('#password').val() == $('#confirmPassword').val()) {
                $('#confirmPassword').css('border-color', 'green');
                $('#password').css('border-color', 'green');
            } else {
                $('#confirmPassword').css('border-color', 'red');
                $('#password').css('border-color', 'red');
            }
        });
    </script>
</th:block>
</body>
</html>