<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layouts/base :: layout(~{::title}, ~{::section}, ~{})}">
<head>
    <title th:text="#{html.profile.title(${personal.getId()})}"></title>
</head>
<body>
<section>
    <div>
        <h1 th:text="#{html.personal.header}"></h1>
        <div class="editProfile">
            <a th:if="${visitor.getRole().equals('ADMIN')}" th:href="@{|/personal/${personal.getId()}/edit|}"><i></i> <span th:text="#{html.profile.editPersonal}"></span></a>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th scope="col" th:text="#{html.forms.name}"></th>
            <th scope="col" th:text="#{html.forms.lastName}"></th>
            <th scope="col">Corsi Insegnati</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${personal.getNome()}"></td>
        <td th:text="${personal.getCognome()}"></td>
        <td th:text="${personal.getCorsiInsegnati().size()}"></td>
        </tbody>
    </table>
</section>
</body>
</html>