<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layouts/base :: nomeApp"></div>
</head>
<th:block th:fragment="headerStart">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</th:block>
<th:block th:fragment="headerEnd">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://kit.fontawesome.com/1d57c28bfa.js" crossorigin="anonymous"></script>
</th:block>
</html>